* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    position: sticky;
    /* Mencegah scroll horizontal */
    /* box-sizing: border-box; */
}

.home-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    margin: 0 auto;
    /* Menghindari margin menyebabkan overflow */
}

.home-wrapper {
    flex: 0 0 auto;
    width: 100%;
    /* Mengubah lebar ke 100% untuk menghindari overflow */
    max-width: 479px;
    /* Membatasi lebar maksimum */
    height: auto;
    display: flex;
    position: sticky;
    align-items: flex-start;
    margin: 0 auto;
    border-color: #ffffff;
    border-width: 1px;
    flex-direction: column;
    background-color: #ffffff;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.home-container01 {
    top: 0;
    left: auto;
    width: 479px;
    z-index: 100;
    /* position: sticky; */

}

.home-header {
    width: 100%;
    height: 724px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    /* background-color: #C1C7CD; */
    background: url("../images/herosec2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    /* border-radius: 10px; */
    /* Perbaikan border-radius */
}

.home-header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(218, 150, 24);
    width: auto;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: 'Arimo';
    font-weight: 600;
}


.home-header-text01 {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: auto;
    font-size:28px;
    font-style: normal;
    text-align: center;
    font-family: 'Arimo';
    font-weight: Bold;
    opacity: 1;
    background-color: #62A402;
    /* Warna latar belakang */
    border-radius: 4px;
    /* Sudut melengkung */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* Bayangan lembut */
    padding: 0 5px 0 5px;
    margin: 20px auto;
    /* Tengah halaman */
    margin-top: 0px;   
}

.home-header-text02 {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-family: 'Arimo';
    font-weight: Bold;
    opacity: 1;
    margin: 0 auto;
}

.home-header-text03 {
    color: #fbfbfb;
}

.home-container02 {
    top: 0;
    flex: 0 0 auto;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    z-index: 103;
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    background-color: #ffffff;

}

.home-section1 {
    top: 20%;
    flex: 0 0 auto;
    width: 100%;
    height: 80px;
    display: flex;
    /* align-items: flex-start; */
    margin: 20px 0 20px 0;
    /* padding-top: var(--dl-space-space-oneandhalfunits); */
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    /* justify-content: space-between; */
    /* background-color: #ffffff; */
    background: url("../images/01card.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 10px;
}
@media (max-width: 320px) {
    .home-section1 {
        padding-left: 10px; /* Sesuaikan padding agar sama dengan max-width: 424px */
        padding-right: 10px;
        background-size: cover; /* Tetap mengisi area */
        background-position: center; /* Posisikan gambar di tengah */
    }
}
@media (max-width: 375px) {
    .home-section1 {
        padding-left: 8px; /* Kurangi padding untuk layar lebih kecil */
        padding-right: 8px;
        background-size: cover; /* Tetap mengisi area */
        background-position: center; /* Posisikan gambar di tengah */
    }
}

@media (max-width: 424px) {
    .home-section1 {
        padding-left: 10px; /* Kurangi padding agar tidak terlalu besar */
        padding-right: 10px;
        background-size: cover; /* Isi area dengan proporsi */
    }
}
.home-section1-text {
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: #073300;
    width: 100%;
    font-size: 26px;
    font-style: normal;
    text-align: left;
    font-family: 'Arimo';
    font-weight: Bold;
    opacity: 1;
    margin: 0 auto;
}
@media (max-width: 320px) {
    .home-section1-text {
        left: 50%; /* Sesuaikan padding agar sama dengan max-width: 424px */
        top:50%;
        width: 70%;        
    }
}
@media (max-width: 375px) {
    .home-section1-text {
        left: 60%; /* Sesuaikan padding agar sama dengan max-width: 424px */
        top:50%;
        width: 70%;        
    }
}
@media (max-width: 425px) {
    .home-section1-text {
        left: 63%; /* Sesuaikan padding agar sama dengan max-width: 424px */
        top:50%;
        width: 70%;        
    }
}
.home-section1-text01 {
    color: #000000;
}

.home-section1-text02 {
    color: #fbfbfb;
}

.home-section1-text03 {
    color: #fbfbfb;
}

.home-container03 {
    top: 0;
    flex: 0 0 auto;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    z-index: 103;
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    background-color: #A2A9B0;
}

.home-section2 {
    flex: 0 0 auto;
    width: 100%;
    height: 330px;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
    background-color: #C1C7CD;
    /* border-top-left-radius: 21px;
    border-top-right-radius: 21px; */
}

.home-section2-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    width: auto;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: 'Arimo';
    font-weight: 600;
}


.home-section2-text01 {
    color: #000000;
}

.home-section2-text02 {
    color: #fbfbfb;
}

.home-section2-text03 {
    color: #fbfbfb;
}